.heading{
    margin-top: 50px;
}
.update-section{
    width: 80vw;
    height: 30vh;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
}
.span-element{
    background-color: white;
    margin-left: 20px;
    margin-top: -10px;
}